
@{
    Layout = "~/Views/Shared/_Layout_NoHeader.cshtml";
    ViewBag.Title = "Reset Password Confirmation - Redfern";
}

<div class="bg-dark">

    <div class="bg-darker " style="margin-top:50px">
        <div class="container padding20" style="">
            <h1 class="fg-white"><img src="~/content/images/redfern-icon.png" class="shadow span1" /> Redfern</h1>
            <div class="grid fluid">
                <div class="row ">
                    <div class="span5">
                        <section id="loginForm" class="fg-white">
                            <p class="fg-white push-down-20">Your email has been confirmed.  Please @Html.ActionLink("click here to log in", "signin", "account"). </p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
