@model Redfern.Web.Models.ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_Layout_NoHeader.cshtml";
    ViewBag.Title = "Forgot Password - Redfern";
}

<div class="bg-dark">

    <div class="bg-darker " style="margin-top:50px">
        <div class="container padding20" style="">
            <h1 class="fg-white"><img src="~/content/images/redfern-icon.png" class="shadow span1" /> Redfern</h1>
            <div class="grid fluid">
                <div class="row ">
                    <div class="span5">
                        <section id="loginForm" class="fg-white">
                            @using (Html.BeginForm("forgotpassword", "account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post ))
                            {
                                @Html.AntiForgeryToken()
                                <p class="fg-white tertiary-info-secondary-text" >
                                    Forgot your password?  
                                    Enter your email address and we'll send you a message with some simple instructions on how to reset in.  
                                    There will be link in the email that you will need to click in order to reset your password.
                                </p>
                                @Html.EditorFor(m => m.Email, "textbox")
                                <p style="margin-top:10px">
                                    <button type="submit" class="large primary">Send Reset <i class="icon-arrow-right-3"></i></button>
                                    &nbsp;
                                    <a href="/account/signin" >Sign in</a>
                                </p>
                                
                            }
                        </section>

                    </div>
                    <div class="span7" style="display:none">
                        <section id="socialLoginForm">
                            @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
