
@{
    Layout = "~/Views/Shared/_Layout_Public.cshtml";
    ViewBag.Title = "Register | Redfern";
}

<div class="">
    <div class="container padding20">
        <div class="grid fluid">
            <div class="row" style="height:500px">
                <div class="span5">
                    <p><strong>Thank you for registering to use Redfern.</strong></p>
                    <p>Your new account is now active and you can sign in using the user name and password you selected by clicking <a href="/account/sign">here</a>.</p>                    
                    <p>We've also sent an email to <span class="label">@ViewBag.UserEmail</span>.  Please take time to check if you've received it and don't forget to click on the confirm link to let us know that you have. </p>
                    <p>Enjoy using Redfern.</p>
                </div>
            </div>

        </div>
    </div>
</div>

