
<div class="navigation-bar fixed-top opacity shadow dark ntm ntp"  id="AppNavigationBar">
    <div class="navigation-bar-content ">
        @Html.Partial("_NavBarLogo")

        <span class="element-divider"></span>

        <div class="element">
            <a class="dropdown-toggle" href="#" data-bind="text: selectedMenu">@( !String.IsNullOrEmpty(ViewBag.SelectedMenu) ? ViewBag.SelectedMenu : "All Boards")</a>
            <ul class="dropdown-menu dark" data-role="dropdown" style="z-index:999">
                <!-- ko foreach: boardsList -->
                <li><a href="" data-bind="attr: { href: '#/board/'+boardId() }, text: name"></a></li>
                <!-- /ko -->
                <li class="divider"></li>
                <li><a href="#@Url.Action("index", "boards")">Show All</a></li>

            </ul>
        </div>

        <a class="element brand" href="#" data-bind="click: createBoard"><span class="icon-plus"></span></a>
        @*
        <div class="element input-element">
            <form>
                <div class="input-control text">
                    <input type="text" placeholder="Search...">
                    <button class="btn-search"></button>
                </div>
            </form>
        </div>
        *@
        @if (User.Identity.IsAuthenticated)
        {
           
            <div class="element place-right">
                <a href="#" class="dropdown-toggle">
                    <i class="icon-user"></i>
                    @ViewBag.AuthenticatedUser.FullName
                </a>
                <ul class="dropdown-menu dark place-right" data-role="dropdown">
                    <li><a href="#/profile">Profile </a></li>
                    @if (User.IsInRole("ADMIN")) { 
                    <li class="divider"></li>
                    <li><a href="#/users">Users </a></li>
                    }
                    <li class="divider"></li>
                    <li><a href="javascript:$('form#signout').submit()">Sign out</a></li>
                </ul>
            </div>

        }
        else
        {
            <a class="element place-right">
                Sign in
            </a>
        }

    </div>
</div>

<div id="CreateBoardDialog" style="display:none">
    <div class="" style="">
        <div class="padding10" style="width:100%">
            <label>Name</label>
            <div class="input-control text">
                <input data-bind="value: name" />
            </div>
            <p>A board is a collection of cards.  Use it to manage a project, track a collection, or organize anything. </p>
            <p>This board will be <strong>private</strong>.</p>

        </div>
    </div>
    <div class="padding10 place-bottom-left">
        <button class="bg-darker fg-white" data-bind="click: create" >Create</button>

    </div>
</div>

@using (Html.BeginForm("signout", "account", FormMethod.Post, new { id = "signout" }))
{
    @Html.AntiForgeryToken()
}
