<div class="page-region">
    <div class="page-region-content">
        <div class="grid fluid">
            <div class="row">
                <div class="offset1 span2">
                    <img src="~/Content/images/redfern-icon.png" />
                </div>
                <div class="span8">
                    <h1>Redfern</h1>
                    <p>A kanban-style project management tool</p>
                </div>
            </div>
            <div class="row">
                <div class="offset1 span2">
                </div>
                <div class="span8" >
                    <h2>Credits </h2>
                    <p>
                    Redfern Visual Project Management has been built using the following third party software.  
                    Our acknowledgement to each of their developer.
                    </p>
                    <!--
                    <p class="tertiary-text">
                        Redfern includes works distributed under the licenses listed below. The full text for most of the licenses listed below can be found in the LICENSE.txt file accompanying each work. The original copyright notices have been preserved within the respective files and or packages. Please refer to the specific files and/or packages for more detailed information about the authors, copyright notices, and licenses.
                    </p>
                    -->
                </div>
            </div>
            <div class="row">
                <div class="offset1 span2">

                </div>
                <div class="span8">

                    <h4>ASP.NET MVC 5</h4>
                    <ul class="unstyled tertiary-text">
                        <li>ASP.NET MVC5 is a framework for building scalable, standards-based web applications using well-established design patterns and the power of ASP.NET and the .NET Framework.</li>
                        <li><a target="_blank" href="http://www.asp.net/mvc/mvc5">http://www.asp.net/mvc/mvc5</a></li>
                        <li>Copyright (c) 2012-2014 Microsoft. All rights reserved</li>
                        <li>ASP.NET MVC 5 is used under the terms of the <a target="_blank" href="http://www.microsoft.com/web/webpi/eula/aspnetcomponent_rtw_enu.htm">Microsoft Software License Terms</a></li>
                    </ul>
                    <hr/>
					
					<h4>ASP.NET Web API 2.1</h4>
                    <ul class="unstyled tertiary-text">
                        <li>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach a broad range of clients, including browsers and mobile devices. ASP.NET Web API is an ideal platform for building RESTful applications on the .NET Framework.</li>
                        <li><a target="_blank" href="http://www.asp.net/web-api">http://www.asp.net/web-api</a></li>
                        <li>Copyright (c) 2012-2014 Microsoft. All rights reserved</li>
                        <li>ASP.NET MVC 5 is used under the terms of the <a target="_blank" href="http://www.microsoft.com/web/webpi/eula/aspnetcomponent_rtw_enu.htm">Microsoft Software License Terms</a></li>
                    </ul>
                    <hr/>

                    <h4>Entity Framework <small>6.1.0</small></h4>
                    <ul class="unstyled tertiary-text">
                        <li>Entity Framework (EF) is an object-relational mapper that enables .NET developers to work with relational data using domain-specific objects. It eliminates the need for most of the data-access code that developers usually need to write.</li>
                        <li><a target="_blank" href="http://msdn.microsoft.com/en-US/data/ef">http://msdn.microsoft.com/en-US/data/ef</a></li>
                        <li>Copyright (c) 2012-2014 Microsoft. All rights reserved</li>
                        <li>Entity Framework is used under the terms of the <a target="_blank" href="http://www.microsoft.com/web/webpi/eula/aspnetcomponent_rtw_enu.htm">Microsoft Software License Terms</a></li>
                    </ul>

                    <hr/>

                    <h4>ASP.NET Identity Core <small>2.0.1</small></h4>
                    <ul class="unstyled tertiary-text">
                        <li>The ASP.NET Identity system is designed to replace the previous ASP.NET Membership and Simple Membership systems. It includes profile support, OAuth integration, works with OWIN, and is included with the ASP.NET templates shipped with Visual Studio 2013.</li>
                        <li><a target="_blank" href="http://www.asp.net/identity">http://www.asp.net/identity</a></li>
                        <li>Copyright (c) 2012-2014 Microsoft. All rights reserved</li>
                        <li>ASP>NET Identity Core is used under the terms of the <a target="_blank" href="http://www.microsoft.com/web/webpi/eula/aspnetcomponent_rtw_enu.htm">Microsoft Software License Terms</a></li>
                    </ul>

                    <hr/>

					<h4>Unity <small>3.0.1304.1</small></h4>
                    <ul class="unstyled tertiary-text">
                        <li>The Unity Application Block is a lightweight extensible dependency injection container with support for constructor, property, and method call injection.  </li>
                        <li><a target="_blank" href="http://unity.codeplex.com/">http://unity.codeplex.com/</a></li>
                        <li>Copyright (c) 2014 Microsoft Corporation</li>
                        <li>Unity is used under the terms of the <a target="_blank" href="http://opensource.org/licenses/ms-pl">Microsoft Public License</a>.</li>
                    </ul>
					
					<h4>Unity.MVC5 <small>1.1</small></h4>
                    <ul class="unstyled tertiary-text">
                        <li>Unity.MVC5 is a library that allows the simple integration of Microsoft's Unity IoC container with ASP.NET MVC 5.</li>
                        <li><a target="_blank" href="https://github.com/feedbackhound/Unity.Mvc5">https://github.com/feedbackhound/Unity.Mvc5</a></li>
                        <li>Copyright (c) 2014 Paul Hiles</li>
                        <li>Unity.MVC is used under the terms of the <a target="_blank" href="http://opensource.org/licenses/MIT">MIT License</a>.</li>
                    </ul>
					
					<h4>Unity.WebAPI <small>1.1</small></h4>
                    <ul class="unstyled tertiary-text">
                        <li>Unity.WebAPI is a library that allows the simple integration of Microsoft's Unity IoC container with ASP.NET Web API.</li>
                        <li><a target="_blank" href="https://github.com/feedbackhound/Unity.WebAPI">https://github.com/feedbackhound/Unity.WebAPI</a></li>
                        <li>Copyright (c) 2014 Paul Hiles</li>
                        <li>Unity.MVC is used under the terms of the <a target="_blank" href="http://opensource.org/licenses/MIT">MIT License</a>.</li>
                    </ul>
				
					<hr/>

                    <h4>AutoMapper <small>3.2.0</small></h4>
                    <ul class="unstyled tertiary-text">
                        <li>A convention-based object-object mapper, AutoMapper uses a fluent configuration API to define an object-object mapping strategy.</li>
                        <li><a target="_blank" href="http://automapper.org/">http://automapper.org/</a></li>
                        <li>Copyright (c) 2010 Jimmy Bogard</li>
                        <li>AutoMapper is used under the terms of the <a target="_blank" href="https://github.com/AutoMapper/AutoMapper/blob/master/LICENSE.txt">MIT License</a>.</li>
                    </ul>
					
                    <hr />
					<h4>Json.NET <small>6.0.2</small></h4>
                    <ul class="unstyled tertiary-text">
                        <li>Json.NET is a popular high performance JSON Framework for .NET.</li>
                        <li><a target="_blank" href="http://james.newtonking.com/json">http://james.newtonking.com/json</a></li>
                        <li>Copyright (c) 2007 James Newton King</li>
                        <li>AutoMapper is used under the terms of the <a target="_blank" href="https://raw.github.com/JamesNK/Newtonsoft.Json/master/LICENSE.md">MIT License</a>.</li>
                    </ul>
					
                    <hr />
					<h4>Postal <small>0.9.2</small></h4>
                    <ul class="unstyled tertiary-text">
                        <li>Create emails using ASP.NET MVC views.</li>
                        <li><a target="_blank" href="https://github.com/andrewdavey/postal">https://github.com/andrewdavey/postal</a></li>
                        <li>Copyright (c) 2014 Andrew Davey</li>
                        <li>Postal  is used under the terms of the <a target="_blank" href="https://jquery.org/license/">MIT License</a>.</li>
                    </ul>
					
                    <hr />
                    <h4>Metro CSS UI 2.0</h4> 
                    <ul class="unstyled tertiary-text">
                        <li>Metro UI CSS is a set of styles to create a site with an interface similar to Windows 8.</li>
                        <li><a target="_blank" href="http://metroui.org.ua">http://metroui.org.ua</a></li>
                        <li class="">Copyright (c) 2012-2014 Sergey Pimenov</li>
                        <li class="">Metro CSS UI 2.0 is used under the terms of the <a target="_blank" href="http://opensource.org/licenses/MIT">MIT License</a>.</li>
                    </ul>
					
                    <hr />
					<h4>jQuery <small>2.1.0</small></h4>
                    <ul class="unstyled tertiary-text">
                        <li>jQuery is a fast and concise JavaScript library that simplifies HTML document traversal and manipulation, event handling, animating, and Ajax interactions for rapid web development.</li>
                        <li><a target="_blank" href="http://jquery.com/">http://jquery.com/</a></li>
                        <li>Copyright (c) 2014 The jQuery Foundation. </li>
                        <li>jQuery is used under the terms of the <a target="_blank" href="https://jquery.org/license/">MIT License</a>.</li>
                    </ul>
					
                  
                    <h4>jQuery UI <small>1.10.4</small></h4>
                    <ul class="unstyled tertiary-text">
                        <li>jQuery UI is an opensource library of interface components - interactions, full-featured widgets, and animation effects - built on the stellar jQuery Javascript library.</li>
                        <li><a target="_blank" href="http://jqueryui.com/">http://jqueryui.com/</a></li>
                        <li>Copyright (c) 2014 The jQuery Foundation. </li>
                        <li>jQuery is used under the terms of the <a target="_blank" href="https://jquery.org/license/">MIT License</a>.</li>
                    </ul>
					
					<h4>jQuery Validation <small>1.12.0</small></h4>
                    <ul class="unstyled tertiary-text">
                        <li>This jQuery plugin makes simple client-side form validation trivial, while offering lost of options for customization.  </li>
                        <li><a target="_blank" href="http://bassistance.de/jquery-plugins/jquery-plugin-validation/">http://bassistance.de/jquery-plugins/jquery-plugin-validation/</a></li>
                        <li>Copyright (c) 2014 Jorn Zaefferer</li>
                        <li>jQuery is used under the terms of the <a target="_blank" href="http://opensource.org/licenses/MIT">MIT License</a>.</li>
                    </ul>
					
                    <hr />
                    <h4>Knockout.js <small>3.1.0</small></h4>
                    <ul class="unstyled tertiary-text">
                        <li>A JavaScript MVVM library to help you create rich, dynamic user interfaces with clean maintainable code.</li>
                        <li><a target="_blank" href="http://knockoutjs.com/index.html">http://knockoutjs.com</a></li>
                        <li>Copyright (c) 2014 Steven Sanderson </li>
                        <li>Knockout.js is used under the terms of the <a target="_blank" href="http://opensource.org/licenses/MIT">MIT License</a>.</li>
                    </ul>
					
					<h4>Knockout.Mapping <small>2.4.0</small></h4>
                    <ul class="unstyled tertiary-text">
                        <li>This mapping plugin gives you a straightforward way to map plain JavaScript objects into a view model with appropriate Knockout observables.</li>
                        <li><a target="_blank" href="http://knockoutjs.com/documentation/plugins-mapping.html">http://knockoutjs.com/documentation/plugins-mapping.html</a></li>
                        <li>Copyright (c) 2014 Roy Jacobs </li>
                        <li>Knockout.Mapping is used under the terms of the <a target="_blank" href="http://opensource.org/licenses/MIT">MIT License</a>.</li>
                    </ul>
					
                    <hr />
                    <h4>Sammy.js <small>0.7.4</small></h4>
                    <ul class="unstyled tertiary-text">
                        <li>Sammy.js is a tiny JavaScript framework developed to ease the pain and provide a basic structure for developing JavaScript applications.</li>
                        <li><a target="_blank" href="http://sammyjs.org/">http://sammyjs.org/</a></li>
                        <li>Copyright (c) 2014 Aaron Quint</li>
                        <li>Sammy.js is used under the terms of the <a target="_blank" href="http://opensource.org/licenses/MIT">MIT License</a>.</li>
                        <li><a href="https://github.com/quirkey/sammy/blob/master/LICENSE">https://github.com/quirkey/sammy/blob/master/LICENSE</a></li>
                    </ul>

                    <hr />
					
					<h4>MarkdownDeep <small>1.5</small></h4>
                    <ul class="unstyled tertiary-text">
                        <li>MarkdownDeep is a high-performance .NET Markdown Engine along with a 100% compatible JavaScript implementation for client-side use.</li>
                        <li><a target="_blank" href="http://www.toptensoftware.com/markdowndeep/">http://www.toptensoftware.com/markdowndeep/</a></li>
                        <li>Copyright (c) 2010-2011 Top Ten Software</li>
                        <li>MarkdownDeep is used under the terms of the <a target="_blank" href="http://www.toptensoftware.com/markdowndeep/license">Apache License</a>.</li>
                    </ul>
					
                    <hr />
					<h4>Moment.js <small>2.5.1</small></h4>
                    <ul class="unstyled tertiary-text">
                        <li>A lightweight JavaScript library parsing, manipulating, and formatting dates.</li>
                        <li><a target="_blank" href="http://momentjs.com/">http://momentjs.com/</a></li>
                        <li>Copyright (c) 2011-2014 Tim Wood, Iskren Chernev, Moment.js contributors</li>
                        <li>Moment.js is used under the terms of the <a target="_blank" href="https://raw.githubusercontent.com/timrwood/moment/master/LICENSE">MIT  License</a>.</li>
                    </ul>
					
                    <hr />
                    <h4>DropzoneJS <small>3.8.4</small></h4>
                    <ul class="unstyled tertiary-text">
                        <li>DropzoneJS is an open source library that provides drag'n'drop file uploads with image previews.</li>
                        <li><a target="_blank" href="http://www.dropzonejs.com/">http://www.dropzonejs.com/</a></li>
                        <li>Copyright (c) 2012 Matias Meno</li>
                        <li>DropzoneJS is used under the terms of the <a target="_blank" href="http://opensource.org/licenses/MIT">MIT License</a>.</li>
                    </ul>
					
                    <hr />
                    <h4>jQuery Tagit </h4>
                    <ul class="unstyled tertiary-text">
                        <li>The jQuery Tagit Plugin transforms an html unordered list into a unique tagging plugin.</li>
                        <li><a target="_blank" href="https://github.com/hailwood/jQuery-Tagit">https://github.com/hailwood/jQuery-Tagit</a></li>
                        <li>Copyright (c) 2012 Matthew Hailwood</li>
                        <li>DropzoneJS is used under the terms of the <a target="_blank" href="http://opensource.org/licenses/MIT">MIT License</a>.</li>
                    </ul>
				
                    

                </div>

            </div>
        </div>
    </div>
</div>
