<div class="page-region">
    <div class="page-region-content">
        <div class="grid fluid">
            <div class="row">
                <div class="offset1 span10" >
                    <h1>Credits...</h1>
                    <p>Redfern Visual Project Management has been built using the following components.  
                    Our acknowledgement to each of their developer.</p>

                    <p class="tertiary-text">
                        Redfern includes works distributed under the licenses listed below. The full text for most of the licenses listed below can be found in the LICENSE.txt file accompanying each work. The original copyright notices have been preserved within the respective files and or packages. Please refer to the specific files and/or packages for more detailed information about the authors, copyright notices, and licenses.
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="offset1 span10">
                    <p class="tertiary-text">
                        <h4>Metro CSS UI 2.0</h4> 
                        Metro UI CSS is a set of styles to create a site with an interface similar to Windows 8.<br/>
                        <a href="">metroui.org.ua</a><br/>
                        Copyright (c) 2012-2014 Sergey Pimenov<br/>
                        License: MIT License
                    </p>
                     
                    <p class="tertiary-text">
                        <h4>ASP MVC 5</h4>
                        <a href="http://www.asp.net/mvc/mvc5">http://www.asp.net/mvc/mvc5</a>
                        <dl class="">
                            <dd>Metro UI CSS is a set of styles to create a site with an interface similar to Windows 8.</dd>
                            <dt>Website</dt>
                            <dd><a href="">metroui.org.ua</a></dd>
                            <dt>Copyright</dt>
                            <dd>Copyright (c) 2012-2014 Sergey Pimenov</dd>
                            <dt>License</dt>
                            <dd>MIT License</dd>

                        </dl>
                    </p>

                </div>

            </div>
            <div class="row">
                <div class="offset1 span4">
                    <h4>Metro CSS UI</h4>
                    <dl class="">
                        <dd>Metro UI CSS is a set of styles to create a site with an interface similar to Windows 8.</dd>
                        <dt>Website</dt>
                        <dd><a href="">metroui.org.ua</a></dd>
                        <dt>Copyright</dt>
                        <dd>Copyright (c) 2012-2014 Sergey Pimenov</dd>
                        <dt>License</dt>
                        <dd>MIT License</dd>

                    </dl>
                    
                </div>
                <div class="span4">
                    <dl class="bg-grayLighter padding10">
                        <dt>ASP MVC 4</dt>
                        <dd>Metro UI CSS is a set of styles to create a site with an interface similar to Windows 8.</dd>
                        <dt>Website</dt>
                        <dd><a href="">metroui.org.ua</a></dd>
                        <dt>Copyright</dt>
                        <dd>Copyright (c) 2012-2014 Sergey Pimenov</dd>
                        <dt>License</dt>
                        <dd>MIT License</dd>

                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
