    <ul class="inline no-margin no-padding text-muted text-center" style="font-size:small">
        <li class="small-size">@Html.Raw(ViewData["application-copyright"].ToString())</li>
        <li><a href="#/credits">Credits</a></li>
        <li>Version @ViewData["application-version"] </li>
    </ul>
