@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    @RenderSection("Styles", required: false)
}

@section Scripts{
    @RenderSection("Scripts", false)
    
}

<div id="wrapper" >
    <header class="page">
        @Html.Partial("_PubNavigationBar")
    </header>
    <section class="page" style="padding-bottom:0px;">
        @RenderBody()    
    </section>
</div>
<footer class="page bg-dark" style="margin-top:0px;padding-bottom:40px">
    <div class="text-muted text-center text-shadow" style="line-height: 21px">Copyright © 2013 - 2014 Livefrog Software</div> 
</footer>
