<a href="/" class="element" style="padding:0px 10px;line-height:34px">
    <img alt="Logo" src="~/content/images/redfern-icon-35.png" style="" class="shadow" />
    <div class="text-shadow text-bold inline-block" style="height:45px; vertical-align:middle; padding-top:3px; font-size:22px;">Redfern</div>
</a>

