
<div class="navigation-bar opacity  dark" id="PubNavigationBar">
    <div class="navigation-bar-content container ">
        @Html.Partial("_NavBarLogo")
        <a href="@Url.Action("signin", "account")" class="element place-right">
            Sign in
        </a>

        <a href="@Url.Action("register", "account")" class="element place-right">
            Register
        </a>

        <a href="http://blog.redfernapp.com" class="element place-right">
            Blog
        </a>
    </div>
</div>