
<div class="navigation-bar fixed-top opacity  dark" id="PubNavigationBar">
    <div class="navigation-bar-content ">
        @Html.Partial("_NavBarLogo")
        <a href="@Url.Action("signin", "account")" class="element place-right">
            Sign in
        </a>

        <a href="@Url.Action("register", "account")" class="element place-right">
            Register
        </a>

    </div>
</div>