@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Unknown  Error - Redfern";
}

<div class="page-region">
    <div class="page-region-content">
        <h1 class="text-alert">Error.</h1>
        <h2 class="text- alert">An error occurred while processing your request.</h2>
    </div>
    
</div>

