@model Redfern.Web.Models.EmailConfirmationEmail
To: @Model.To
Subject: Redfern Email Confirmation

Hi @Model.UserFullName,

Please confirm the email address used with your Redfern account by clicking on the link below:

<a href="@Html.Raw(Model.ConfirmEmailLink)">@Html.Raw(Model.ConfirmEmailLink)</a>

It is important that we know the correct email address to use when sending password resets. 

Thanks,
The Redfern Team