html,body{
    height: 100%
}

#wrapper{
    width: 100% ;
    min-height: 97%;
    position:relative;
}

#wrapper section {
    padding-bottom: 10px;    /* height of footer */
}


#wrapper footer, footer.page {
    height: 20px!important; 
    min-height: 5px!important; 
    left: 0;
    bottom: 0;
}

body {
    
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.page-region-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height:0!important;
}



/* Center a div */
div.center{
    width:900px;
    margin-left:auto;
    margin-right:auto;

}

/* transparent backgrounds for disables inputs */
input[type=text]:disabled{
    background-color:transparent;
    border-color:transparent;
    border-width:0px;
    outline:none;
}


/**************************************** 
 *    Board styles
 ****************************************/
.board {
    height: 95%;
    min-height: 95%;
}

.board .sidebar{
    width:100px;
    height:100%;

}

.board-column .tile {
    height:90px;
}

.board-column .tile:last-child {
    height:90px;
    margin-bottom:20px;
}

.metro .board .pinned.tile.no-outline:hover {
    border:0;
    outline-color: transparent!important;
}


.board-column .tile p {
    font-size:10pt!important;
    line-height:12pt;
}

.board-column {
    float:left;
    /*display:inline-block;*/
    padding:15px; 
    /*padding-right:0px;*/
    width:315px;
    margin-right:10px;
    background-color:#ccc;
    
    /*
    height:100%;
    min-height:510px;    
    */
}

.board-column-content{
    
    background-color:#eee;
    /*
    min-height:510px;
    height:510px;
    */
    padding:10px;
    overflow:auto;
       
    /*
    overflow-y:hidden;
    overflow-x:hidden;
    */
}

.board-column-footer{
    height:25px;
}


/**************************************** 
 *    Board Activity Stream styles
 ****************************************/
#activities_wrapper .listview .list .list-content .data,
#notifications_wrapper .listview .list .list-content .data {
    font-size:smaller;
    min-width:0;
    line-height:initial;
    vertical-align:top;
}



/* Tiny Scrollbar */
.scrollbar1 { width: 270px; margin: 20px 0 10px;  }
.scrollbar1 .viewport { width: 270px; height: 500px; overflow: hidden; position: absolute; }
.scrollbar1 .overview {  list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
.scrollbar1 .scrollbar{ background: transparent url(images/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
.scrollbar1 .track { background: transparent url(/images/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
.scrollbar1 .thumb { background: transparent url(/images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
.scrollbar1 .thumb .end { background: transparent url(/images/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
.scrollbar1 .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

/*
.ui-state-highlight { height: 90px; }
*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  
}

/**************************************** 
 *    JQuery Validation Helpers styles
 ****************************************/
div label {
    width:auto;
    display:inline!important;
}

.field-validation-error {
    display:inline;
    width:auto;
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*
    Slideout Div
 */
.slide-out-div {
    /*
    padding: 20px;
    width: 250px;
    background: #ccc;
    border: 1px solid #29216d;
    */
}   

/*
    Tagit  Div

    .metro .sidebar > ul ul.tagit{
    display:block;
    background-color:rgb(255,255,255);


}
 */

/**************************************** 
 *    Landing Page Styles
 ****************************************/
.container{
    width:1140px;
}
   
div + div
{
    margin-top:0px;
    margin-bottom:0px;
}


/**************************************** 
 *    block ui styles
 ****************************************/
.blockMsg
{
    border:0!important;
    /*height:250px;*/
    width:500px!important;
    
    font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 20pt;
    letter-spacing: 0.01em;
    line-height: 24pt;
    font-size: 12pt;
    
    background-color: transparent!important;
    color:#fff!important;
    text-align:inherit;
}


/**************************************** 
 *    Jquery autocomplete styles
 ****************************************/
ul.ui-autocomplete 
{
    background-color: #fff;
    position: absolute!important;
    cursor: default;
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    border: 1px solid #E5E5E5;
    border-top: none;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    
    -moz-border-radius: 0;
    border-radius: 0;
    
    -moz-box-shadow: 0 3px 5px #888;
    -webkit-box-shadow: 0 3px 5px #888;
    box-shadow: 0 3px 5px #888;
    
    width:350px!important;
    
}

ul.ui-autocomplete li {
    display: inline-block !important;
    float:left;
    list-style-type: none !important;
    padding-right: 20px !important;
    width:auto!important;
    clear:none!important;
    
    padding-right: 10px !important;
    width:100%!important;
    clear:none!important;
}

ul.ui-autocomplete li a
{
    color:black;
    background-color:transparent!important;
}

ul.ui-autocomplete li a:hover
{

}

.ui-autocomplete li.ui-menu-item:hover
{
    background-color:black;
}

.ui-autocomplete .ui-menu-item a.ui-state-hover,
.ui-autocomplete .ui-menu-item a.ui-state-active,
.ui-autocomplete .ui-menu-item a.ui-state-focus
 {
    font-weight:normal!important;
    color:white;
    background-color:black!important;
}



/**************************************** 
 *    Dropzone custom styles
 ****************************************/
.dropzone{
    min-height:10px;
    height:100px;
}

.dz-preview{
    position: absolute!important;
    top: 0;
    left: 0;
    
}

.dz-preview .dz-details {
    height: 30px!important;
    width: 100%!important;
}

.dz-preview  .dz-details .dz-filename{
    height:30px;
    width:100%;
}

.dz-preview  .dz-details img{
    height:30px;
}


.dz-preview .dz-progress {
    top:30px!important;
}

.dropzone .dz-preview .dz-details img,
.dropzone-previews .dz-preview .dz-details img {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px!important;
  height: 30px!important;
}


/**************************************** 
 *    Wiki custom styles
 ****************************************/
.wiki h1 {
  letter-spacing: 0.00em;
  font-size: 3rem;
  line-height: 4.5rem;
  /*
  border-bottom: 1px #d9d9d9 solid;
    */
}


/**************************************** 
 *    CardTitleEditor custom styles
 ****************************************/
.card-title-editor span{
    height:40px;
    font: inherit;
    color: inherit;
    line-height: inherit;
    line-height: 35px;
    letter-spacing:inherit;
    font-size: inherit;
    font-weight:inherit;
    font-family: inherit;
    text-align: inherit
}
.card-title-editor input[type=text] {
    width:100%;
    clear:both;
   
    border:0;
    margin:0;
    padding:0;
    
    vertical-align:auto;

    font: inherit;
    color: inherit;
    line-height: inherit;
    font-size: inherit;
    font-weight:inherit;
    font-family: inherit;
    text-align: inherit;
    letter-spacing:inherit;

    height:35px;
}

.card-title-editor textarea {
    width:100%;
    clear:both;
   
    margin:0;
    padding:0;
    
    vertical-align:auto;

    font: inherit;
    color: inherit;
    line-height: inherit;
    font-size: inherit;
    font-weight:inherit;
    font-family: inherit;
    text-align: inherit;
    letter-spacing:inherit;

    /*
    height:35px;
    height:72px;
    */
    height:35px;
    line-height: 35px;
    border:0;

    border-bottom: 1px #d9d9d9 solid;
    
}

.card-title-editor textarea:disabled {
    background-color: transparent;
}

.card-title-editor textarea:focus {
    outline: 0;
    /*border-color: #919191;*/
   
}


/**************************************** 
 *    popModal custom styles
 ****************************************/
.popModal{
    padding-left:0;
    padding-right:0;
    padding:0;
}
.popModal_content {
    margin-bottom:10px!important;
}

.popModal_content .ui-datepicker{
    /*
    margin:5% 0 0 5%;
    width:90%;
        */
     width:100%;
}


div.input-control label input[type=text]:focus, div.input-control label input[type=text]:active{
    border-bottom-color:gray;
    outline-color: transparent;
}