html,body{
    height: 100%
}

#wrapper{
    width: 100% ;
    min-height: 99%;
    position:relative;
}

#wrapper section {
    padding-bottom: 8px;    /* height of footer */
}


#wrapper footer, footer.page {
    height: 20px!important; 
    min-height: 5px!important; 
    left: 0;
    bottom: 0;
}




body {
    padding-top: 50px;
    padding-bottom: 20px;
}



/* Set padding to keep content from hitting the edges */
.page-region-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height:0!important;
}



/* Center a div */
div.center{
    width:900px;
    margin-left:auto;
    margin-right:auto;

}


/* Board */


.board {
    min-height: 100%;
}

.board .sidebar{
    width:100px;
    height:100%;

}

.board-column .tile {
    height:90px;
}

.board-column .tile:last-child {
    height:90px;
    margin-bottom:20px;
}

.metro .board .pinned.tile.no-outline:hover {
    border:0;
    outline-color: transparent!important;
}


.board-column .tile p {
    font-size:10pt!important;
}

.board-column {
    float:left;
    /*display:inline-block;*/
    padding:15px; 
    /*padding-right:0px;*/
    width:315px;
    margin-right:10px;
    background-color:#ccc;
    
    /*
    height:100%;
    min-height:510px;    
    */
}

.board-column-content{
    
    background-color:#eee;
    /*
    min-height:510px;
    height:510px;
    */
    padding:10px;
    overflow:auto;
       
    /*
    overflow-y:hidden;
    overflow-x:hidden;
    */
}

.board-column-footer{
    height:25px;
}

/* Tiny Scrollbar */
.scrollbar1 { width: 270px; margin: 20px 0 10px;  }
.scrollbar1 .viewport { width: 270px; height: 500px; overflow: hidden; position: absolute; }
.scrollbar1 .overview {  list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
.scrollbar1 .scrollbar{ background: transparent url(images/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
.scrollbar1 .track { background: transparent url(/images/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
.scrollbar1 .thumb { background: transparent url(/images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
.scrollbar1 .thumb .end { background: transparent url(/images/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
.scrollbar1 .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

.ui-state-highlight { height: 90px; }


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  
}

/* styles for validation helpers */
div label {
    width:auto;
    display:inline!important;
}

.field-validation-error {
    display:inline;
    width:auto;
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*
    Slideout Div
 */
.slide-out-div {
    /*
    padding: 20px;
    width: 250px;
    background: #ccc;
    border: 1px solid #29216d;
    */
}   

/*
    Tagit  Div

    .metro .sidebar > ul ul.tagit{
    display:block;
    background-color:rgb(255,255,255);


}
 */

/*
    Landing page
*/
.container{
    width:1140px;
}
   
div + div
{
    margin-top:0px;
    margin-bottom:0px;
}


/* 
 *    block ui styles
 ****************************************/
.blockMsg
{
    border:0!important;
    /*height:250px;*/
    width:500px!important;
    
    font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 20pt;
    letter-spacing: 0.01em;
    line-height: 24pt;
    font-size: 12pt;
    
    background-color: transparent!important;
    color:#fff!important;
    text-align:inherit;
}


