
<div class="page-region">
    <div class="page-region-content">

        <div class="tile-area" style="width:1777px">
            <h2>My Boards</h2>
            <div class="tile-group six border"  style="min-height:300px">   
                
                <a href="#/board/1" class="tile double bg-violet" data-role="drag-drop">
                    <div class="tile-content">
                        <div class="text-right padding10 ntp">
                            <h1 class="fg-white no-margin">10</h1>
                            <p class="fg-white">Sunday</p>
                        </div>
                    </div>
                    <div class="brand">
                        <div class="label"><h3 class="no-margin fg-white"><span class="icon-calendar"></span></h3></div>
                    </div>
                </a>
            </div>

            <div class="tile-group border">
                <a class="tile double bg-violet" data-role="drag-drop">
                    <div class="tile-content">
                        <div class="text-right padding10 ntp">
                            <h1 class="fg-white no-margin">10</h1>
                            <p class="fg-white">Sunday</p>
                        </div>
                    </div>
                    <div class="brand">
                        <div class="label"><h3 class="no-margin fg-white"><span class="icon-calendar"></span></h3></div>
                    </div>
                </a>

            </div>

        </div>

        
    </div>
</div>

<div id="NewBoardDialog" style="display:none">
    This is a test board
</div>