<nav id="BoardNavigationMenu" class="horizontal-menu header-menu ntm ntp" >
    <ul>
        <li>
            <a href="/" class="back-button"><i class="icon-arrow-left-3 fg-darker"></i></a>
        </li>
        <li>
            <a href="#" class="fg-red heading" data-bind="text: title">Board Name</a>
        </li>
        <li class="place-right">
            <ul>
                <li>
                    <a href="#" class="lighten" data-bind="click: create"><i class="icon-floppy"></i> Save</a>
                </li>
            </ul>

        </li>

    </ul>
</nav>        
