



<div class="page-region" style="">


    <div class="page-region-content" >
        @*
            @Html.Partial("_BoardNavigationBar")
        *@
        <div class="board" style="min-width:10px;width:2000px; margin-top:10px;float:left;display:inline-block">

            <div class="board-column border ">
                <div class="board-column-header ntm ntp clearfix">
                    <h4 class="ntm ntp">Backlog <i class="icon-spin place-right"></i></h4>

                </div>

                <div class="board-column-content">
                    <div class="tile double  bg-amber" data-role="drag-drop">
                        <div class="tile-content">
                            <div class="padding10">
                                <p class="fg-white">Implement Drag and drop of board tiles</p>
                            </div>
                        </div>
                        <div class="brand">
                            <div class="label"><h3 class="no-margin fg-white"><span class="icon-calendar"></span></h3></div>
                        </div>
                    </div>

                    <div class="tile double  bg-amber" data-role="drag-drop">
                        <div class="tile-content">
                            <div class="padding10">
                                <p class="fg-white">Implement Drag and drop of board tiles</p>
                            </div>
                        </div>
                        <div class="brand">
                            <div class="label"><h3 class="no-margin fg-white"><span class="icon-calendar"></span></h3></div>
                        </div>
                    </div>

                    <div class="tile double  bg-amber" data-role="drag-drop">
                        <div class="tile-content">
                            <div class="padding10">
                                <p class="fg-white">Implement Drag and drop of board tiles</p>
                            </div>
                        </div>
                        <div class="brand">
                            <div class="label"><h3 class="no-margin fg-white"><span class="icon-calendar"></span></h3></div>
                        </div>
                    </div>

                    <div class="tile double  bg-amber" data-role="drag-drop">
                        <div class="tile-content">
                            <div class="padding10">
                                <p class="fg-white">Implement Drag and drop of board tiles</p>
                            </div>
                        </div>
                        <div class="brand">
                            <div class="label"><h3 class="no-margin fg-white"><span class="icon-calendar"></span></h3></div>
                        </div>
                    </div>

                    <div class="tile double  bg-amber" data-role="drag-drop">
                        <div class="tile-content">
                            <div class="padding10">
                                <p class="fg-white">Implement Drag and drop of board tiles</p>
                            </div>
                        </div>
                        <div class="brand">
                            <div class="label"><h3 class="no-margin fg-white"><span class="icon-calendar"></span></h3></div>
                        </div>
                    </div>
                </div>

                <div class="back" style="display:none">
                    <i class="icon-spin place-right"></i>
                    @Html.Label("Name", new { @class = "fg-white" })
                    <div class="input-control text">
                        @Html.TextBox("BoardName")
                    </div>
                    <div>
                        <button class="primary">Save</button>
                    </div>
                </div>
            </div>

            <div class="board-column border">
                <h4 class="ntm ntp" data-role="column-name">Doing</h4>
                <div data-role="name-editor" style="display:none">
                    <div class="input-control text">
                        @Html.TextBox("BoardName", "Doing")
                    </div>
                </div>
                <div class="board-column-content">
                    <div class="tile double bg-violet" data-role="drag-drop">
                        <div class="tile-content">
                            <div class="text-right padding10 ntp">
                                <h1 class="fg-white no-margin">10</h1>
                                <p class="fg-white">Sunday</p>
                            </div>
                        </div>
                        <div class="brand">
                            <div class="label"><h3 class="no-margin fg-white"><span class="icon-calendar"></span></h3></div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="board-column border">
                <h4 class="ntm ntp">Done</h4>
                <div class="board-column-content">

                </div>

            </div>

            <div class="board-column border">
                <h4 class="ntm ntp">Done</h4>
                <div class="board-column-content">

                </div>

            </div>

            <div class="board-column border" style="width:50px">
                <h4 class="ntm ntp">Done</h4>
                <div class="board-column-content">

                </div>
            </div>

        </div>
    </div>

    <div class="charms bg-dark" style="">
        <nav class="sidebar" >
            <ul>
                <li class="title">My School Tasks</li>
                <li><a href="">Change Board Name</a></li>
                <li><a href="">Members</a></li>
                <li><a href="">Tags</a></li>
            </ul>
        </nav>
        
        <hr/>
        <h4 class="fg-white">Members</h4>

        @*
        <div class="accordion" data-role="accordion">
            <div class="accordion-frame">
                <a href="#" class="heading">Menu</a>
                <div class="content bg-white">...</div>
            </div>
            <div class="accordion-frame">
                <a href="#" class="heading">Members</a>
                <div class="content">...</div>
            </div>
            <div class="accordion-frame">
                <a href="#" class="heading">Tags</a>
                <div class="content">...</div>
            </div>
        </div>
        *@
    </div>





</div>


<div id="NewBoardDialog" style="display:none">
    This is a test board
</div>