@model Redfern.Web.Models.BoardListViewModel

<div class="page-region">
    <div class="page-region-content">
        <div class="tile-area">
            <h2>My Boards</h2>
            <div id="MyBoards" class="tile-group"  style="min-height:300px">   
            @foreach (var board in Model.Boards)
            {
                <a href="#/board/@board.BoardId" class="tile double bg-darkCobalt">
                    <div class="tile-content">
                        <div class="padding10 ">
                            <h2 class="fg-white no-margin">@board.Name</h2>
                        </div>
                    </div>
                    <div class="brand">
                        <div class="label"><h3 class="no-margin fg-white"><span class="icon-grid"></span></h3></div>
                        <div class="badge">102</div>
                    </div>
                </a>
            }
                
                
               


            </div>

            <div class="tile-group">
               

            </div>

        </div>

        
    </div>
</div>

<div id="NewBoardDialog" style="display:none">
    This is a test board
</div>