@model object
@using System.Dynamic
@{
    var id = (string)ViewData["id"];
    id = !String.IsNullOrEmpty(id) ? "id=" + id : "";

    var style = (string)ViewData["style"];
    style = !String.IsNullOrEmpty(style) ? "style=" + style : "";

    var databind = (string)ViewData["databind"];
    var placeholder = (string)ViewData["placeholder"];
    
    var htmlAttributes = new Dictionary<string,object>();
    if (!String.IsNullOrEmpty(placeholder)) {
        htmlAttributes.Add("placeholder", placeholder);
    }
    if (!String.IsNullOrEmpty(databind))
    {
        htmlAttributes.Add("data-bind", databind);
    }
    htmlAttributes.Add("type", "password");

}

<div style="margin-bottom:5px">
    @Html.LabelFor(m => m)
    @Html.ValidationMessageFor(m => m)
</div>
  
<div @id class="input-control password" @style >    
    @Html.TextBoxFor(m => m,  htmlAttributes)
</div>