@{
    ViewBag.Title = "Redfern - Visual Task Management";
}

<div style="background: url('/content/images/standup.jpg') top left no-repeat; background-size: cover; height: 400px; margin-top:-5px">
    <div class="container padding20" style="">
        <h1 class="fg-orange text-shadow">Visual Project Management for free</h1>
        <h2 class="fg-darkOrange text-shadow">
            Redfern is a kanban-style visual project management tool to help you visualize and organize work for any kind of project.
        </h2>
        <a style="margin-top:50px;" href="/account/register" class="place-left button bg-darkRed bg-hover-red fg-white fg-hover-white bd-orange" style="margin-top: 10px">
            <h3 class="text-normal" style="margin: 10px 40px">Create your free account </h3>
        </a>
    </div>

</div>

<div class="bg-grayLighter" style="height:200px;margin-top:-10px">
    <div class="container padding20">
        <div class="grid fluid">
            <div class="row">
                <div class="span4 bg-amber padding20 text-center" style="height:200px">
                    <h2 class="fg-white">Easy to use</h2>
                    <p>
                        Built to be intuitive, it'll take you mere moments to learn to use Redfern.
                        A simplified interface, with instantaneous feedback and go-to features, you wont't waste unecessary seconds and risk inspiration to evaporate.
                    </p>
                </div>

                <div class="span4  bg-pink padding20 text-center" style="height:200px">
                    <h2 class="fg-white">Include everyone</h2>
                    <p>
                        Working on your own?  No problems.  But if you crave the company of others, we can do that as well.
                        Include everyone that's a stakeholder, get them involved, make sure that stuff gets communicated .
                    </p>

                </div>
                <div class="span4  bg-green padding20 text-center" style="height:200px">
                    <h2 class="fg-white">Make it yours</h2>
                    <p>
                        Make a to-do list, plan a wedding, outline a novel, build your dream house.... make Redfern yours by using it they way you want to use it and not the other way around

                    </p>
                </div>
            </div>

        </div>

    </div>

</div>
<div class="bg-steel" style="height:200px;margin-top:-10px">
    <div class="container padding20">
        <div></div>

    </div>
</div>
<div class="bg-dark" style="height:200px;margin-top:-10px">
    <div class="container">

    </div>
</div>



