<div id="CardPropertiesDialog" style="display:none;min-height:100%">
    <div class="grid fluid" style="min-height:100%">
        <div class="row">
            <div class="padding10 span12">
                <label>Title</label>
                <div class="input-control text">
                    <input type="text"maxlength="100" data-bind="value: data.title" />
                </div>
            </div>
        </div>
        <div class="row" style="height:100%">
            <div class="padding10 span4">
                <div class="inline-block" style="width:100%">
                    <!-- ko foreach: cardTypes -->
                    <div class="tile quarter" data-bind="setTileColor: color, css: { selected : color() == $parent.data.color()  }, changeTileColor: $parent.data.color, color: color, attr: { 'title': name }">
                    </div>
                    <!-- /ko -->
                </div>
                <label>Tags</label>
                <div class="">
                    <ul id="tags-container"></ul>
                </div>
                <label class="">Assignee</label>
                <div class="inline-block push-down-5" style="width:100%!important">
                    <img class="span2" data-bind="attr: { src: userPhotoUrl() }" />
                    <div class="input-control text span10" >
                        <input type="text" placeholder="Unassigned" data-bind="assignCard: data.assignedToUser, assignCardOptions: { members: members(), displayValue: data.assignedToUserFullName }" />
                    </div>
                </div>
                
            </div>

            <div class="padding10 span8">
                <div class="tab-control" data-role="tab-control">
                    <ul class="tabs">
                        <li class="active"><a data-href="#page_0" href="#page_0">Details</a></li>
                        <li><a data-href="#page_1" href="#page_1">Conversations</a></li>
                        <li><a data-href="#page_2" href="#page_2">History</a></li>
                        <li><a data-href="#page_3" href="#page_3"><i class="icon-attachment"></i></a></li>
                        <li class="place-right"><a data-href="#page_4" href="#page_4"><i class="icon-cog"></i></a></li>
                    </ul>
                    <div class="frames">
                        <div id="page_0" class="frame" style="height:100%">
                            
                            <div style="height:100%" data-bind="visible: !wiki.editing()">
                                <div class="listview"  style="overflow-x: auto;  height: 95%" data-bind="markdown: data.description"></div>
                                <button class="link place-right" data-bind="click: function(){ wiki.editing(true) }">Edit</button>
                            </div>

                            <div class="" data-bind="visible: wiki.editing" style="height:100%">
                                <div class="mdd_preview" style="display:none"></div>
                                <div class="mdd_toolbar"></div>
                                <textarea cols=50  class="mdd_editor" style="height:90%" data-bind="value: data.description, markdownEditor: data.description"></textarea>
                                
                                <button class="primary push-down-10" data-bind="click: wiki.save">Save</button>
                                <button class="link push-down-10"  data-bind="click: function(){ wiki.editing(false) }">Cancel</button>
                            </div>
                        </div>
                        <div class="frame" id="page_1" style="height:100%">
                            <div class="row padding10" style="margin-bottom:5px;width:100%">
                                <div class="span11">
                                    <div class="input-control textarea">
                                        <textarea placeholder="write a comment..." maxlength="250" style="min-height:50px;width:100%" data-bind="value: commentThread.newComment"></textarea>
                                    </div>
                                </div>
                                <div class="span1">
                                    <button data-bind="click:commentThread.add" class="bg-darker fg-white place-left" style="height:50px"><i class="icon-comments"></i></button>
                                </div>
                            </div>
                            <div style="text-align:center" data-bind="visible:commentThread.loading">
                                <img src="/content/images/ajax-loader.gif" />
                            </div>
                            <div class="listview padding10" id="commentslist" data-bind="template:'commentsListTemplate'" style="overflow-x:auto;height:80%;width:100%">

                            </div>
                        </div>
                        <div class="frame" id="page_2" style="height:100%">
                            <div style="text-align:center" data-bind="visible:activityStream.loading">
                                <img src="/content/images/ajax-loader.gif" />
                            </div>
                            <div class="listview padding10" id="commentslist" data-bind="template:'activitiesListTemplate'" style="overflow-x:auto;height:99%;width:100%">
                            </div>
                        </div>
                        <div class="frame" id="page_3" style="height:100%">
                            <div class="padding10">
                                <form action="/file-upload" class="dropzone" id="DropZone">
                                    <div class="dz-message ">
                                        <img src="~/content/images/file-upload-greylight.png" style="height:70px" />
                                        <div class="place-right text-center">
                                            <span class="text-muted">Drag and drop a file here to upload</span><br />
                                            <span class="text-muted">- or -</span> <br />
                                            <span class="text-muted">Click anywhere to select a file from your computer</span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="listview padding10" id="attachmentslist" data-bind="template:'attachmentsListTemplate'" style="overflow-x:auto;height:60%;width:100%">

                            </div>
                        </div>
                        <div class="frame" id="page_4" style="height:100%">
                            <p>Archive this card and remove it from view?</p>
                            <button class="bg-red fg-white" data-bind="click: archive">Archive</button>
                            <hr />
                            <p>Delete this card permanently? </p>
                            <button class="bg-red fg-white" data-bind="click: remove">Delete</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<script id="attachmentsListTemplate" type="text/html">
    <!-- ko foreach: attachmentsList.attachments -->
    <div class="list" style="width:100%">
        <div class="list-content">
            <img class="icon" src="" data-bind="attr: { src: '/api/cardattachment/?thumbid='+cardAttachmentId() }" style="width:80px;height:80px" />
            <div class="data">
                <p>
                    <span class="list-title item-title" data-bind="text: fileName"></span>
                    <span class="list-remark text-muted" style="margin-top:10px" data-bind="text: uploadDateFromNow, attr: { title: uploadDateInLocalTimezone }">Uploaded 10 days ago</span>
                </p>
                <p>
                    <a href="" class="text-muted span2" data-bind="attr: { href:'/api/cardattachment/'+cardAttachmentId() }"><i class="icon-download"></i> Download</a> <a href="" class="text-muted span2" data-bind="click: $parent.attachmentsList.remove"><i class="icon-remove"></i> Remove</a>
                </p>
            </div>
        </div>
    </div>
    <!--/ko-->
</script>



<script id="commentsListTemplate" type="text/html">
    <!-- ko foreach: commentThread.comments-->
    <div class="list" style="width:100%">
        <div class="list-content">
            <img class="icon" data-bind="attr: { src: '/api/avatar/'+commentByUser() }" />
            <div class="data">
                <span class="list-title item-title" data-bind="text: commentByUserFullName"></span>
                <span class="list-subtitle" data-bind="text: comment"></span>
                <span class="list-remark fg-grayLight" style="margin-top:10px" data-bind="text: commentDateFromNow, attr: { title: commentDateInLocalTimezone }"></span>
                <span class="place-bottom-right" data-bind="visible: commentByUser() == app.user.userName"><a href="" data-bind="click: $parent.commentThread.remove"><i class="icon-remove"></i></a></span>
            </div>
        </div>
    </div>
    <!--/ko-->
</script>

<script id="activitiesListTemplate" type="text/html">
    <!-- ko foreach: activityStream.activities-->
    <div class="list" style="width:100%">
        <div class="list-content">
            <img class="icon" data-bind="attr: { src: '/api/avatar/'+actorId() }" />
            <div class="data">
                <span class="list-subtitle" data-bind="html: description"></span>
                <span class="list-remark fg-grayLight" style="margin-top:10px" data-bind="text: activityDateInLocalTimezone"></span>
            </div>
        </div>
    </div>
    <!--/ko-->
</script>
