<div id="CardPropertiesDialog" style="display:none;" >
    <div class="grid fluid">
        <div class="row">
            <div class="padding10 span12">
            </div>
        </div>

        <div class="row" >
            <!-- right hand column-->
            <div class="span8 padding10 ntp">
                <div class="row">
                    <span class="subheader card-title-editor border-bottom" >
                        <textarea maxlength="100" rows="1" id="title" data-bind="value: title, enable:hasAccess('ChangeCardTitle'), autosize:true"></textarea>
                    </span>
                    <small class="text-muted">
                        Created by <span data-bind="text: createdByUserFullName"></span>, <span data-bind="text:moment(moment.utc(createdDate()).toDate()).format('ll')"></span> 
                        - <b data-bind="text: selectedColumn().name()"></b> <a href="" data-bind="popModal: selectedColumn, popModalOptions: { html: $('#ChangeParentColumn').html()  }, visible: hasAccess('RearrangeCards')">(Change)</a> </small>
                </div>
               
                <div class="row push-down-20">
                    <div style="height:100%" data-bind="wikiEditor: description, enable: hasAccess('ChangeCardDescription'), save: wiki.save">
                    </div>
                </div>
                <div class="row push-down-40">
                    <span class="subheader-secondary">Attachments</span>
                    <div style="margin-top:20px; margin-bottom:20px;width:100%" data-bind="visible:hasAccess('UploadFile')">
                        <span id="uploadfile" class="fg-grayLight fg-gray fg-hover-grayDarker cursor-pointer"><i class="icon-upload-2"></i> Click to upload a file or drag and drop a file anywhere on the dialog...</span>
                        <div id="previews" class="dropzone-previews"></div>
                    </div>
                    <div class="listview small" id="attachmentslist" data-bind="template:'attachmentsListTemplate'" style="">
                    </div>
                </div>

                <div class="row push-down-40">
                    <span class="subheader-secondary">Conversations</span>
                    <div class="row" style="margin-top:10px; margin-bottom:5px;width:100%" data-bind="visible: hasAccess('AddComment')">
                        <div class="span11">
                            <div class="input-control textarea">
                                <textarea placeholder="leave a comment..." maxlength="250" style="min-height:50px;width:100%" data-bind="value: commentThread.newComment"></textarea>
                            </div>
                        </div>
                        <div class="span1">
                            <button data-bind="click:commentThread.add" class="bg-darker fg-white place-left" style="height:50px"><i class="icon-comments"></i></button>
                        </div>
                    </div>
                    <div style="text-align:center" data-bind="visible:commentThread.loading">
                        <img src="/content/images/ajax-loader.gif" />
                    </div>
                    <div class="listview" id="commentslist" data-bind="template:'commentsListTemplate'">
                    </div>
                </div>

                <div class="row push-down-40" style="height:20px">&nbsp;</div>


            </div>

            <!-- left hand column -->
            <div class="padding10 ntp nbm span4" >
                
                <div class="inline-block" style="width:100%">
                    <!-- ko foreach: cardTypes -->
                    <div class="tile quarter" data-bind="setTileColor: color, css: { selected : color() == $parent.color()  }, changeTileColor: $parent.color, color: color, attr: { 'title': name }, enable: $parent.hasAccess('ChangeCardColor')">
                    </div>
                    <!-- /ko -->
                    
                </div>
                <h5>Tags</h5>
                <div class="">
                    <ul data-bind="tagit: tags, tagitOptions: { enabled: hasAccess('AddTag'), initialTags: tags()  }"></ul>
                </div>
                <h5 class="">Assignee</h5>
                <div class="inline-block push-down-5" style="width:100%!important">
                    <img class="span2" data-bind="attr: { src: userPhotoUrl() }" />
                    <div class="input-control text span10">
                        <input type="text" placeholder="Unassigned" data-bind="assignCard: assignedToUser, assignCardOptions: { members: members(), displayValue: assignedToUserFullName }, enable: hasAccess('ChangeCardAssignment')" />
                    </div>
                </div>
              
                
                <div style="bottom:0;margin-top:85%">
                    <a href="" data-bind="click: removeCard, visible: hasAccess('DeleteCard')"><i class="icon-remove" ></i> Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="attachmentsListTemplate" type="text/html">
    <!-- ko foreach: attachmentsList.attachments -->
    <div class="list no-border no-border-all" style="width:100%">
        <div class="list-content">
            <img class="icon" src="" data-bind="attr: { src: '/api/cardattachment/?thumbid='+cardAttachmentId() }" style="width:80px;height:80px" />
            <div class="data">
                <p>
                    <span class="list-title item-title" data-bind="text: fileName"></span>
                    <span class="list-remark text-muted" style="margin-top:10px" data-bind="text: uploadDateFromNow, attr: { title: uploadDateInLocalTimezone }">Uploaded 10 days ago</span>
                </p>
                <p>
                    <a href="" class="text-muted span2" data-bind="attr: { href:'/api/cardattachment/'+cardAttachmentId() }"><i class="icon-download"></i> Download</a> <a href="" class="text-muted span2" data-bind="click: $parent.attachmentsList.remove"><i class="icon-remove"></i> Remove</a>
                </p>
            </div>
        </div>
    </div>
    <!--/ko-->
</script>



<script id="commentsListTemplate" type="text/html">
    <!-- ko foreach: commentThread.comments-->
    <div class="list no-border" style="width:100%">
        <div class="list-content">
            <img class="icon" data-bind="attr: { src: '/api/avatar/'+commentByUser() }" />
            <div class="data">
                <span class="list-title item-title" data-bind="text: commentByUserFullName"></span>
                <span class="list-subtitle" data-bind="text: comment"></span>
                <span class="list-remark fg-grayLight" style="margin-top:10px" data-bind="text: commentDateFromNow, attr: { title: commentDateInLocalTimezone }"></span>
                <span class="place-top-right" data-bind="visible: commentByUser() == app.user.userName"><a href="" data-bind="click: $parent.commentThread.remove"><i class="icon-cancel-2 fg-grayLight fg-hover-grayDark" style="font-size:xx-small;font-weight:100" ></i></a></span>
            </div>
        </div>
    </div>
    <!--/ko-->
</script>

<script id="activitiesListTemplate" type="text/html">
    <!-- ko foreach: activityStream.activities-->
    <div class="list" style="width:100%">
        <div class="list-content">
            <img class="icon" data-bind="attr: { src: '/api/avatar/'+actorId() }" />
            <div class="data">
                <span class="list-subtitle" data-bind="html: description"></span>
                <span class="list-remark fg-grayLight" style="margin-top:10px" data-bind="text: activityDateInLocalTimezone"></span>
            </div>
        </div>
    </div>
    <!--/ko-->
</script>

<script id="ChangeParentColumn" type="text/html">
    <div class=""  data-bind="foreach: columns">
        <div class="padding10 border-bottom bg-hover-grayLighter" >
            <i class="" data-bind="css: { 'icon-checkbox': $parent.selectedColumn().columnId() == columnId(),   'icon-checkbox-unchecked': $parent.selectedColumn().columnId() != columnId()}"></i>
            <a href="" data-bind="text:name, click: function(){ $parent.selectedColumn($data); $parent.moveCard() }"></a>
        </div>
        
     </div>
    
</script>


