<div id="ColumnPropertiesForm" style="display:none">
    <form>
        <h4 class="ntp ntm"><i class="icon-undo revert" style="cursor:pointer"></i> Column Properties </h4>
        <label>Name</label>
        <div class="input-control text">
            <input type="text" data-bind="value: name" value="" />
        </div>
        <button class="primary" data-role="save-btn" data-bind="click: update">Save</button>
        <hr />
        <p>To delete this column, remove all cards tacked to it.</p>
        <button class="bg-red fg-white" data-role="delete-btn" data-bind="click: remove">Delete</button>
    </form>
</div>
