@model Redfern.Web.Models.BoardViewModel

<div class="page-region" style="">
    <div class="page-region-content " >
        <div id="Board" class="inline" data-bind="visible:viewMode() == 'board', adjustBoardWidth: { settings: { columnCount: columns.filterByVisible().length, columnWidth: columnWidth()   }  } ">
            <div class="board" data-bind="sortable: { data: columns, isEnabled: hasAccess('RearrangeColumns'), afterMove: columns.resequenceAll, options:{ placeholder: BoardColumnPlaceHolder, handle: '.board-column-header *' }  }">
                <div class="board-column border" data-bind="visible: show, adjustColumnHeight:$parent.height">
                    <div class="board-column-wrapper">
                        <div class="board-column-header ntm ntp clearfix cursor-move">
                            <h4 class="ntm ntp">
                                <strong data-bind="truncatedText: name, maxTextLength:18"></strong>
                                <span class="text-muted">
                                    <small>
                                        (<span data-bind="text: visibleCardCount"></span> cards)
                                    </small>
                                    <i class="icon-filter" data-bind="visible: $.boardcontext.current.enableSorting() == false"></i>
                                </span>
                                <i class="icon-forward place-right" style="cursor:pointer" data-bind="columnProperties:'ColumnPropertiesForm', visible: !isArchiveColumn() && $parent.hasAccess('OpenColumnProperties')"></i>
                                <i class="icon-zoom-in place-right" style="cursor:pointer" data-bind="click:expand"></i>
                            </h4>
                        </div>
                        <div class="board-column-content content" data-bind="sortable: { data: cards,  afterMove:resequenceAllCards, connectClass:'board-column-content', isEnabled: $.boardcontext.current.enableSorting , options: { placeholder: CardPlaceHolder, items:'a.tile:not(.pinned)',  scroll: true} }">
                            <a class="tile double" data-bind="attr: { href: '#/board/'+boardId()+'/card/'+cardId() }, visible: show, setTileColor: color, archived : $parent.isArchiveColumn()">
                                <div class="tile-content">
                                    <div class="padding10" style="overflow:hidden">
                                        <p>
                                            <span class="" data-bind="cardLabelDisplay: cardLabel"></span>
                                            <span class="fg-white " data-bind="truncatedText: title, maxTextLength:80"></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="brand">
                                    <div class="label">
                                        <span class="no-margin icon-locked fg-white" data-bind="visible: $.boardcontext.current.enableSorting() == false"></span>
                                        <!-- ko ifnot: $.boardcontext.current.options.showCardAge -->
                                        <span class="no-margin fg-white icon-calendar" style="" data-bind="visible:dueDate()!=null, attr:{ title: dueDate()!=null ? dueDate().toLocalDate() : '' }"> <small data-bind="text: dueDate()!=null ? dueDate().toLocalDate('MMM D') : '' "></small></span>
                                        <span class="no-margin fg-white icon-comments-4" data-bind="visible: commentCount()>0"> <small data-bind="text: commentCount"></small></span>
                                        <span class="no-margin fg-white icon-tag" data-bind="visible: tags().length >0"> <small data-bind="text: tags().length"></small></span>
                                        <span class="no-margin fg-white icon-attachment" data-bind="visible: attachmentCount() >0"> <small data-bind="text: attachmentCount"></small></span>
                                        <span class="no-margin fg-white icon-list" data-bind="visible: totalTaskCount() >0"> <small data-bind="text: completedTaskCount"></small>/<small data-bind="text: totalTaskCount"></small></span>
                                        <!-- /ko -->
                                        <!--ko if: $.boardcontext.current.options.showCardAge -->
                                        <span class="no-margin fg-white"> <small data-bind="timeago: createdDateInLocalTimezone"></small></span>
                                        <!-- /ko -->
                                    </div>
                                </div>
                                <img src="" class="padding5 place-bottom-right" data-bind="visible: assignedToUser() != null && assignedToUser().length > 0, attr: { src: '/api/avatar/'+assignedToUser() +'?height=25', title: assignedToUserFullName() }" />
                            </a>
                        </div>
                        <div class="board-column-footer">
                            <div class="padding10">
                                <p class="fg-grayLight fg-gray fg-hover-grayDarker" data-bind="visible: $parent.hasAccess('AddCard')"><span data-bind="addCard: newCard.title, create: newCard.save"><i class="icon-plus"></i> Add a card...</span> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="board-column border bg-gray bg-hover-grayDarker fg-hover-white inline-editor" style="min-height:50px;cursor:pointer" data-bind="visible: hasAccess('AddColumn')">
                <div class="board-column-header ntm ntp ">
                    <span class="fg-white" data-bind="inlineEditor:newColumn.name, fontSize: '14pt', save:newColumn.save">Add a Column...</span>
                </div>
            </div>

        </div>
        
        <div id="Oversight" data-bind="visible: viewMode() == 'overview'" class="inline margin20">
            <!-- ko foreach: columns-->
            <div class="tile bg-darkBlue" data-bind="">
                <div class="tile-content">
                    <div class="padding10">
                        <p class="fg-white" data-bind="text: name"></p>
                        <p class="fg-white" data-bind="text: visibleCardCount"></p>
                    </div>
                </div>
                <div class="brand">
                    <div class="label">

                    </div>
                </div>
            </div>
            <!-- /ko-->
        </div>

        <div id="ExpandedColumn" data-bind="if: viewMode() == 'columnview'">
            <div data-bind="with: columns.selected">
                <div class="board-column border" data-bind="maximizeColumn: maximixed, adjustColumnHeight:$parent.height">
                    <div class="board-column-wrapper">
                        <div class="board-column-header ntm ntp clearfix">
                            <h4 class="ntm ntp">
                                <strong data-bind="text: name"></strong>
                                <span class="text-muted">
                                    <small>
                                        (<span data-bind="text: visibleCardCount"></span> cards)
                                    </small>
                                    <i class="icon-filter" data-bind="visible: $.boardcontext.current.enableSorting() == false"></i>
                                </span>
                                <i class="icon-forward place-right" style="cursor:pointer" data-bind="columnProperties:'ColumnPropertiesForm', visible: !isArchiveColumn() && $parent.hasAccess('OpenColumnProperties')"></i>
                                <i class="icon-zoom-out place-right" style="cursor:pointer" data-bind="click:function(){ $parent.viewMode('board') }"></i>
                            </h4>
                        </div>
                        <div class="board-column-content content" data-bind="sortable: { data: cards, afterMove:resequenceAllCards, connectClass:'board-column-content', isEnabled: $.boardcontext.current.enableSorting, options: { placeholder: CardPlaceHolder, items: ' a.tile:not(.pinned)', scroll: true} }">
                            <a class="tile double bg-amber" data-bind="attr: { href: '#/board/'+boardId()+'/card/'+cardId() }, visible: show, setTileColor: color, archived : $parent.isArchiveColumn() ">
                                <div class="tile-content">
                                    <div class="padding10">
                                        <p>
                                            <span class="" data-bind="cardLabelDisplay: cardLabel"></span>
                                            <span class="fg-white " data-bind="truncatedText: title, maxTextLength:80"></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="brand">
                                    <div class="label">
                                        <span class="no-margin icon-locked fg-white" data-bind="visible: $.boardcontext.current.enableSorting() == false"></span>
                                        <!-- ko ifnot: $.boardcontext.current.options.showCardAge -->
                                        <span class="no-margin fg-white icon-calendar" style="" data-bind="visible:dueDate()!=null, attr:{ title: dueDate()!=null ? dueDate().toLocalDate() : '' }"> <small data-bind="text: dueDate()!=null ? dueDate().toLocalDate('MMM D') : '' "></small></span>
                                        <span class="no-margin fg-white icon-comments-4" data-bind="visible: commentCount()>0"> <small data-bind="text: commentCount"></small></span>
                                        <span class="no-margin fg-white icon-tag" data-bind="visible: tags().length >0"> <small data-bind="text: tags().length"></small></span>
                                        <span class="no-margin fg-white icon-attachment" data-bind="visible: attachmentCount() >0"> <small data-bind="text: attachmentCount"></small></span>
                                        <span class="no-margin fg-white icon-list" data-bind="visible: totalTaskCount() >0"> <small data-bind="text: completedTaskCount"></small>/<small data-bind="text: totalTaskCount"></small></span>
                                        <!-- /ko -->
                                        <!--ko if: $.boardcontext.current.options.showCardAge -->
                                        <span class="no-margin fg-white"> <small data-bind="timeago: createdDateInLocalTimezone"></small></span>
                                        <!-- /ko -->
                                    </div>
                                </div>
                                <img src="" class="padding5 place-bottom-right" data-bind="visible: assignedToUser() != null && assignedToUser().length > 0, attr: { src: '/api/avatar/'+assignedToUser() +'?height=25', title: assignedToUserFullName() }" />
                            </a>
                        </div>
                        <div class="board-column-footer">
                            <div class="padding10">
                                <p class="fg-grayLight fg-gray fg-hover-grayDarker" data-bind="visible: $parent.hasAccess('AddCard')"><span data-bind="addCard: newCard.title, create: newCard.save"><i class="icon-plus"></i> Add a card...</span> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_SidebarCharms")
@Html.Partial("_ColumnPropertiesForm")
@Html.Partial("_CardPropertiesDialog")


<script type="text/javascript">
    var model = @Html.Raw(JsonConvert.SerializeObject(Model, new JsonSerializerSettings(){ ContractResolver = new CamelCasePropertyNamesContractResolver() }));
</script>
