<div id="SidebarCharms" class="charms bg-grayDark slide-out-div">
    <a class="handle bg-grayLight fg-white opacity padding15" style="width:70px" href="">
        <span class="block text-center">
            <i class="icon-tools" style="font-size:xx-large"></i>
        </span>
        <!-- ko if: notifications().length > 0 -->
        <span class="block push-down-20 text-center">
            <i class="icon-broadcast"></i> <small data-bind="text: notifications().length"></small>
        </span>
        <!-- /ko -->
        <!-- ko if: $.boardcontext.current.newActivitiesCounter() > 0-->
        <span class="block push-down-20 text-center" data-bind="click: function(){ activeOption('activities') }">
            <i class="icon-fire"></i> <small data-bind="text:$.boardcontext.current.newActivitiesCounter"></small>
        </span>
        <!--/ko -->
        <!-- ko ifnot: filters.noSelection()  -->
        <span class="block push-down-20 text-center">
            <i class="icon-filter"></i> 
        </span>
        <!-- /ko -->
    </a>
    <nav id="Sidebar" class="sidebar" data-bind="visible: activeOption() == 'main'">
        <ul>
            <li class="title">Board Options</li>
            <li data-bind=""><a href="" data-bind="click: function(){ activeOption('changeboardsettings') },visible: hasAccess('OpenBoardSettings') ">Settings</a></li>
            <li data-bind="visible: hasAccess('ViewBoardActivities')"><a href="" data-bind="click: function(){ activeOption('activities') }">Activities  <span class="label place-right bg-red fg-white" data-bind="visible: $.boardcontext.current.newActivitiesCounter() > 0, text:$.boardcontext.current.newActivitiesCounter"></span></a></li>
            <li data-bind="visible: hasAccess('ViewBoardNotifications')"><a href="" data-bind="click: function(){ activeOption('notifications') }">Notifications <span class="label place-right bg-red fg-white" data-bind="visible: notifications().length > 0, text: notifications().length"></span></a></li>
            @*
            <li data-bind="visible: viewMode() =='board'"><a href="" data-bind="click: function(){ viewMode('overview') }">Zoom out</a></li>
            <li data-bind="visible: viewMode() =='overview'"><a href="" data-bind="click: function(){ viewMode('board') }">Zoom in</a></li>    
            *@
            <li data-bind="visible: hasAccess('ViewCollaborators')"><a href="" data-bind="click: function(){ activeOption('members') }">Collaborators</a></li>
            <li data-bind="visible: hasAccess('RelabelColors')"><a href="" data-bind="click: function(){ activeOption('colors') }">Colors</a></li>
            <li data-bind="visible: hasAccess('RearrangeColumns') && viewMode() == 'board'"><a href="" data-bind="click: function(){ activeOption('columns') }">Columns</a></li>
            <li data-bind="visible: hasAccess('FilterCards')"><a href="" data-bind="click: function(){ activeOption('filter') }">Filter</a></li>
        </ul>
    </nav>

    <nav id="Sidebar_BoardSettings" class="sidebar" data-bind="visible: activeOption() == 'changeboardsettings'">
        <ul>
            <li class="title"><i class="icon-arrow-left-3 fg-white" style="cursor:pointer" data-bind="click: function(){ activeOption('main') }"></i> Settings</li>
            <li>
                <div class="padding15">
                    <p class="text-muted">Rename board...</p>
                    @Html.Editor("BoardName", "textbox", new { databind = "value: name", autofocus = "autofocus" })
                    <button data-bind="click: changeBoardName" class="primary">Save</button>
                </div>

            </li>
            <li>
                <div class="padding15 fg-white">
                    <p class="text-muted">Change visibility...</p>
                    <div class="button-set">
                        <button data-bind="css:{ 'active': isPublic() }, click: changeVisibility">Private</button>
                        <button data-bind="css:{ 'active': !isPublic() }, click: changeVisibility">Public</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="padding15 fg-white ">
                    <p class="text-muted">Delete board...</p>
                    <button class="bg-red fg-white" data-bind="click: remove">Delete</button>
                </div>
            </li>
            <li>
                <div class="padding15">
                    <p class="text-muted">Archive board...</p>
                    <button class="bg-red fg-white" data-bind="click: archive">Archive</button>
                </div>
            </li>
            <li>
                <div class="padding15">
                    <p class="text-muted">Additional options...</p>
                    <div class="input-control checkbox">
                        <label class="text-muted">
                            <input type="checkbox" data-bind="checked: BoardContext.current.options.showCardAge" />
                            <span class="check"></span>
                            Show age of cards
                        </label>
                        
                    </div>
                    
                </div>
            </li>
        </ul>
    </nav>

    <nav id="Sidebar_Members" class="sidebar" data-bind="visible: activeOption() == 'members'">
        <ul>
            <li class="title"><i class="icon-arrow-left-3 fg-white" style="cursor:pointer" data-bind="click: function(){ activeOption('main') }"></i> Collaborators</li>
            <li>
                <div class="padding15 nbp" data-bind="visible: hasAccess('AddColloborators')">
                    <div class="input-control text">
                        <input type="text" placeholder="type in name of user... " data-bind="userLookup: newMember.userName" />
                        <button class="btn-add" data-bind="click: newMember.add"></button>
                    </div>
                </div>
                <div class="padding15 inline-block">
                    <div class="tile half">
                        <img class="icon " src="" data-bind="attr: { src : '/api/avatar/'+owner(), title : ownerFullName()+ ' (The Owner)' }" />
                    </div>
                    <!-- ko foreach: members -->
                    <div class="tile half" data-bind="click: $parent.selectMember, css: { selected: selected }, visible:role() != 'Owner'">
                        <img class="icon " src='/api/avatar/patrick' data-bind="attr: { src: '/api/avatar/'+userName(), title: fullName() }" />
                    </div>
                    <!-- /ko -->
                </div>
            </li>
            <li data-bind="if: selectedMember.boardMemberId() > 0">
                <div class="padding15 grid fluid">
                    <div class="row">
                        <div class="span4">
                            <img class="icon " data-bind="attr: { src: '/api/avatar/'+selectedMember.userName(), title: selectedMember.fullName() }" />
                        </div>
                        <div class="span6">
                            <p data-bind="text:selectedMember.fullName" class="fg-white"></p>
                            <button class="danger" data-bind="visible: canRemoveMember, click: removeMember">Remove</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </nav>

    <nav id="Sidebar_Colors" class="sidebar" data-bind="visible:activeOption() == 'colors'">
        <ul>
            <li class="title"><i class="icon-arrow-left-3 fg-white" style="cursor:pointer" data-bind="click: function(){ activeOption('main') }"></i> Card Colors</li>
            <li>
                <div class="padding20 grid fluid">
                    <!-- ko foreach: cardTypes -->
                    <div class="row">
                        <div class="span2" style="padding-top:5px;">
                            <div class="tile quarter" data-bind="setTileColor: color"></div>
                        </div>
                        <div class="span9">
                            <div class="input-control text">
                                <input type="text" maxlength="20" data-bind="value: name, event: { change: update }" />
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
            </li>
        </ul>
    </nav>

    <nav id="Sidebar_filter" class="sidebar" data-bind="visible: activeOption() == 'filter'">
        <ul>
            <li class="title">
                <i class="icon-arrow-left-3 fg-white" style="cursor:pointer" data-bind="click: function(){ activeOption('main') }"></i> Filter
                <button class="bg-red fg-white place-right" data-bind="click: filters.removeFilter">Clear All</button>
            </li>
            <li>
                <div class="padding20" style="overflow-y:auto;overflow-x:hidden">
                    <div class="input-control text">
                        <input type="text" placeholder="Filter by title..." data-bind="value: filters.title">
                        <button class="btn-search"></button>
                    </div>

                    <span class="fg-grayLight ">Filter by entering one or more tags</span>
                    <ul data-bind="tagit: filters.tags, tagitOptions: { enabled: true, allowNewTags: false, sourceUrl: '/api/tag?boardid='+$.boardcontext.current.boardId(), addTag: filters.addTag, removeTag: filters.removeTag }"></ul>

                    <span class="fg-grayLight ">Show cards with the following colors</span>
                    <div class="inline-block" style="width:100%;margin-top:5px">
                        <!-- ko foreach: cardTypes -->
                        <div class="tile quarter" style="line-height:2!important" data-bind="setTileColor: color, attr: { 'title': name }, click: $parent.filters.addColorToFilter, css: { selected: $parent.filters.isColorSelected(color()) }">
                        </div>
                        <!-- /ko -->
                    </div>

                    <span class="fg-grayLight ">Show card assigned to collaborators</span>
                    <div class="inline-block" style="width:100%;margin-top:5px">
                        <!-- ko foreach: members -->
                        <div class="tile half" style="line-height:2!important" data-bind="click: function(){ $parent.filters.addAssigneeToFilter(userName()) } , css: { selected:  $parent.filters.isAssigneeSelected(userName())}">
                            <img class="icon " src='/api/avatar/patrick' data-bind="attr: { src: '/api/avatar/'+userName(), title: fullName() }" />
                        </div>
                        <!-- /ko -->
                    </div>

                    <span class="fg-grayLight ">Show cards due: </span>
                    <div class="inline-block" style="width:100%;margin-top:5px">
                        <a href="" data-bind="click: function(){ filters.setPeriodDue('today') }, css: { 'bg-darker' : filters.isPeriodDueSelected('today') }">Today</a>
                        <a href="" data-bind="click: function(){ filters.setPeriodDue('tomorrow') }, css: { 'bg-darker' : filters.isPeriodDueSelected('tomorrow') }">Tomorrow</a>
                        <a href="" data-bind="click: function(){ filters.setPeriodDue('nextweek') }, css: { 'bg-darker' : filters.isPeriodDueSelected('nextweek') }">Next Week</a>
                        <a href="" data-bind="click: function(){ filters.setPeriodDue('thisweek') }, css: { 'bg-darker' : filters.isPeriodDueSelected('thisweek') }">This Week</a>
                        <a href="" data-bind="click: function(){ filters.setPeriodDue('thismonth') }, css: { 'bg-darker' : filters.isPeriodDueSelected('thismonth') }">This Month</a>
                        <a href="" data-bind="click: function(){ filters.setPeriodDue('pastdue') }, css: { 'bg-darker' : filters.isPeriodDueSelected('pastdue') }">In the Past</a>
                    </div>


                </div>
            </li>
        </ul>
    </nav>

    <nav id="Sidebar_columns" class="sidebar" data-bind="visible: activeOption() == 'columns'">
        <ul>
            <li class="title"><i class="icon-arrow-left-3 fg-white" style="cursor:pointer" data-bind="click: function(){ activeOption('main') }"></i> Columns</li>
            <li>
                <div id="columns_wrapper" class="padding20" style="overflow-y:auto;overflow-x:hidden">
                    <div class="listview small" data-bind="sortable: { data: columns, afterMove: resequence } ">
                        <div class="list bg-dark" style="width:100%" data-bind="click:$parent.changeColumnVisibility">
                            <div class="list-content">
                                <span class="icon icon-checkbox fg-white" data-bind="css:{ 'icon-checkbox-unchecked': show() != true }"></span>
                                <div class="data fg-white">
                                    <span data-bind="text:name"></span>
                                    (<span data-bind="text:visibleCardCount"></span>)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </nav>

    <nav id="Sidebar_activities" class="sidebar" data-bind="visible: activeOption()=='activities'">
        <ul>
            <li class="title"><i class="icon-arrow-left-3 fg-white" style="cursor:pointer" data-bind="click: function(){ activeOption('main') }"></i> Activities</li>
            <li>
                <div id="activities_wrapper" class="padding20" style="overflow-y:auto;overflow-x:hidden">
                <div class="listview small" data-bind="foreach: activities  ">
                    <div class="list bg-dark" style="width:100%" data-bind="click:openCard">
                        <div class="list-content">
                            <img class="icon push-down-5" data-bind="attr: { src: '/api/avatar/'+actorId() }" />
                            <div class="data fg-white">
                                <span class="block" style="vertical-align:text-top" data-bind="html:text"></span>
                                <span class="block fg-orange margin5" style="font-size:small;line-height:1" data-bind="html: additionalText"></span>
                                <span class="text-muted list-subtitle" data-bind="timeago:activityDateInLocalTimezone"></span>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </li>
        </ul>
    </nav>

    <nav id="Sidebar_notifications" class="sidebar" data-bind="visible: activeOption()=='notifications'">
        <ul>
            <li class="title"><i class="icon-arrow-left-3 fg-white" style="cursor:pointer" data-bind="click: function(){ activeOption('main') }"></i> Notifications</li>
            <li>
                <div id="notifications_wrapper" class="padding20" style="overflow-y:auto;overflow-x:hidden">
                    <div class="listview small" data-bind="foreach: notifications ">
                        <div class="list bg-dark" style="width:100%"  data-bind="click:open">
                            <div class="list-content">
                                <!-- ko if: notificationType() == 'DueCard'  -->
                                <i class="icon icon-alarm fg-white"></i>
                                <!-- /ko -->
                                <!-- ko if: notificationType() != 'DueCard'  -->
                                <img class="icon push-down-5" data-bind="attr: { src: '/api/avatar/'+sender() }" />
                                <!-- /ko -->
                                <div class="data fg-white">
                                    <span class="block" style="vertical-align:text-top" data-bind="html:message"></span>
                                    <span class="text-muted list-subtitle" data-bind="timeago:notificationDate"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </nav>

</div>

